html {
  font: var(--font-body);
  color: var(--color-neutral-11);
  background-color: var(--color-neutral-1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* áº¨n scroll khi modal active */
body.modal-iframe-active,
body.modal-info-active,
html:has(body.modal-iframe-active),
html:has(body.modal-info-active) {
  overflow: hidden !important;
  height: 100% !important;
}
