.root {
  position: relative;
  display: flex;
  aspect-ratio: 1;
  width: 48px;
  overflow: hidden;
  border-radius: var(--radius-round);
}

.image {
}

.fallback {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-round);
  background: var(--color-neutral-3);
}
