.card {
  border-radius: var(--radius-3);
  border: var(--border-size-1) solid var(--color-neutral-6);
  background: var(--color-neutral-2);
  color: var(--color-neutral-11);
  box-shadow: var(--shadow-1);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-5);
}

.title {
  font-size: var(--font-size-3);
  font-weight: 500;
  letter-spacing: var(--font-letterspacing-1);
}

.description {
  font-size: var(--font-size-2);
}

.content {
  padding: var(--space-5);
}

.footer {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  padding: var(--space-5);
}
